body {
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    height: 150px;
    margin-bottom: 40px;
}

.box, .card {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    box-sizing: border-box;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box.short {
    height: 60px;
}

.box.medium {
    height: 100px;
}

.box.tall {
    height: 140px;
}

.container.one {
    justify-content: space-evenly;
}

.container.two {
    height: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container.three {
    align-items: flex-end;
}

.container.four {
    width: 360px;
    flex-wrap: wrap;
    gap: 30px;
    height: auto;
}